
body { margin: 0px; padding: 0px; }
body { background: url('../img/bg.png'); text-align: center; }
article { font-size: 1.5em; background: #EFEFEF; margin: 0.3em 0.3em 0; border-radius: 3px; }
section { min-height: 400px; box-shadow: 3px 3px 10px #1F1F1F; margin: 4px; } 
nav a { border: 1px none black; margin: 4px; margin: 2px 0; box-shadow: 3px 3px 10px #1F3FFF; border-radius: 3px; }
nav a:hover { box-shadow: 3px 3px 10px #1F3FFF; }
footer {font-size: 0.7em; text-align: right; color: white; }
a { border: 1px none black; margin: 20px 20px; box-shadow: 3px 3px 10px #1F2F3F; border-radius: 3px; padding: 5px; display: inline-block; }
a:hover { box-shadow: 3px 3px 10px #EFEFEF; }